/**************************************************************************************************************/
/*ocultaremos elementos*/
/*************************************************************************************************************/
header, nav, #estoy, .col-2, footer.pantalla {
	display: none !important;
}
/************************************************************************************************************* */
/* mostramos el pie especifico para la impresion*/
/************************************************************************************************************* */
footer.impresion {
	display: block !important;
}
/**************************************************************************************************************/
/*modificamos el estilo de la fuente */
/**************************************************************************************************************/
body {
	font-family: "Times New Roman", Times, serif;
	margin-bottom: 18px;
	text-align: justify;
	text-indent: 2em;
}
.titulo{
	margin:auto;
	font-size: 2em;
	text-align: center;
}
/**************************************************************************************************************/
/*modificamos la estructura */
/**************************************************************************************************************/
footer, img{
	float:right;
}
