
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-rss:before { content: '\e802'; } /* '' */
.icon-rss-alt:before { content: '\e803'; } /* '' */
.icon-facebook-rect:before { content: '\e804'; } /* '' */
.icon-twitter-bird:before { content: '\e805'; } /* '' */
.icon-googleplus-rect:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-heart:before { content: '\e808'; } /* '' */
.icon-heart-empty:before { content: '\e809'; } /* '' */
.icon-youtube:before { content: '\e80a'; } /* '' */
.icon-attach:before { content: '\e80b'; } /* '' */
.icon-food:before { content: '\e80c'; } /* '' */
.icon-shop:before { content: '\e80d'; } /* '' */
.icon-beaker:before { content: '\e80e'; } /* '' */
.icon-facebook:before { content: '\e80f'; } /* '' */
.icon-facebook-rect-1:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e811'; } /* '' */
.icon-twitter-bird-1:before { content: '\e812'; } /* '' */
.icon-tumblr:before { content: '\e813'; } /* '' */
.icon-tumblr-rect:before { content: '\e814'; } /* '' */
.icon-googleplus-rect-1:before { content: '\e815'; } /* '' */